{% extends '/collection/conf/base.html' %}

{% block content %}
    <form role="form" class="form-signin" method="get" action="do_login">
      <h2 class="form-signin-heading">Log In.</h2>
      {% if error %}<div class="form-group error">{{ error }}</div>{% endif %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Let's go!</button>
     </form>
{% endblock %}
