{% extends 'base.html' %}

{% block content %}
    <h2>User</h2>
    <form method="post" action="" role="form">
        <table class="table">
            <tr>
                <th> Name </th>
                <th> Affiliation </th>
                <th> E-mail </th>
                <th> Type </th>
            {% for profile in user_profiles %}
                <tr>
                    <td>
                        {{ profile[3] }}
                    </td>
                    <td>
                        {{ profile[4] }}
                    </td>
                    <td>
                        {{ profile[2] }}
                    </td>
                    <td>
                      <div class="radio">
                        <input type="radio" name="level-{{ profile[1] }}" value="normal"
                               {% if profile[6] == 'normal' %} checked {% endif %} />
                        Author <br />
                        <input type="radio" name="level-{{ profile[1] }}" value="pc"
                               {% if profile[6] == 'pc' %} checked {% endif %} />
                        PC <br />
                        <input type="radio" name="level-{{ profile[1] }}" value="chair"
                               {% if profile[6] == 'chair' %} checked {% endif %} />
                        Chair <br />
                      </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary" value="Save">Save</button>
    </form>
{% endblock %}
