{% extends 'collection/conf/base.html' %}

{% block content %}
    <div class="page-header">
      <h1>Welcome {{ name }}.</h1>
    </div>
    <p>[TODO: Add list of current papers.]</p>
{% endblock %}
