{% extends '/collection/conf/base.html' %}

{% block content %}
<div class="page-header">
  <h1>Welcome {{ name }}. </h1>
</div>

<p>Please e-mail Jean Yang (jeanyang [at] mit [dot] edu) to withdraw a paper.</p>
<table class="table">
  <tr>
    <th><a rel="tooltip" title="Visible to the authors, PC chair, and reviewers after reviews have been submitted.">
      <span class="glyphicon glyphicon-eye-close"></span></a> Author
    </th>
    <th><a rel="tooltip" title="Visible to the authors and program committee.">
      <span class="glyphicon glyphicon-eye-close"></span></a> Title
    </th>
  </tr>
  {% if paper_data %}
  {% for p in paper_data %}
  {% if p != None %}
  <tr>
    <td>
      {{ p.author_name }}
    </td>
    <td> <a href="/5/paper?id={{ p.paper[0] }}">
      {% if p.latest != None %}
      {{ p.latest }}
      {% else %}
      [Hidden]
      {% endif %}
      </a>
    </td>
  </tr>
  {% endif %}
  {% endfor %}
  {% else %}
  No papers to display.
  {% endif %}
</table>
{% endblock %}
