<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        
    <title>The Databank</title>
  </head>
  <body>

    <header class="navbar navbar-light" id="navbar">
      <div class="container-fluid">
	<a class="navbar-brand" href="/">
	  The Databank
	</a>
      </div>
    </header>
    
    <div class="container">
      <div class="row">
	<div class="col-sm-8 offset-sm-2">
	  <div class="card">
	    <h5 class="card-header" >Welcome to your Databank{% if user_name %}, {{ user_name }}{% endif %}!</h5>
	    {% if user_id is not none %}
	    <div class="card-header text-right" >
	      Management tools
	    </div>
	    <div class="list-group list-group-flush">
	      <a class="list-group-item list-group-item-action" href="/profile">Your profile</a>
	      <a class="list-group-item list-group-item-action" href="/policy">Your policy</a>
	      <a class="list-group-item list-group-item-action" href="/logout">Log out</a>
	    </div>
	    <div class="card-header text-right" >
	      Services
	    </div>
	    <div class="list-group list-group-flush">
	      {% for app in apps %}
	      <a class="list-group-item list-group-item-action" href="/{{ app.id_ }}">{{ app.app_name }}</a>
	      {% endfor %}
	    </div>
	    {% else %}
	    <div class="card-body">
	      <div class="card-text">
		<form action="/login" method="post">
		  <div class="form-group mb-1">
		    <label for="name">Username</label>
		    <input type="text" class="form-control" id="name_id" name="name">
		  </div>
		  <div class="form-group mb-1">
		    <label for="password">Password</label>
		    <input type="password" class="form-control" id="password_id" name="password">
		  </div>
		  <button type="submit" class="btn btn-primary">Log in</button>
		  {% if wrong_pass %}
		  <span class="badge badge-danger">Incorrect username/password pair</span>
		  {% endif %}
		</form>
	      </div>
	    </div>
	    {% endif %}
	  </div>
	</div>
      </div>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
