{% extends "collection/minitwit/layout.html" %}
{% block title %}
{{ title }}
{% endblock %}
{% block body %}
<h2>{{ title }}</h2>
{% if user %}
{% if title != 'My Timeline' and title != 'Public Timeline' %}
<div class=followstatus>
  {% if profile_user and user[0] == profile_user[0] %}
  This is you!
  {% elif followed %}
  You are currently following this user.
  <a class=unfollow href="{{ profile_user[2] }}/unfollow">Unfollow user</a>.
  {% else %}
  You are not yet following this user.
  <a class=follow href="{{ profile_user[2] }}/follow">Follow user</a>.
  {% endif %}
</div>
{% else %}
<div class=twitbox>
  <h3>What's on your mind {{ user[2] }}?</h3>
  <form action="add_message" method=post>
    <p>
      <input type=text name=text size=60>
      <input type=submit value="Share">
    </p>
  </form>
</div>
{% endif %}
{% endif %}
<ul class=messages>
  {% if messages is string %}
  {{ messages | safe }}
  {% else %}
  {% for message in messages %}
  <li><p>
      <strong><a href="{{ message[6] }}">{{ message[6] }}</a></strong>
      {{ message[3] }}
      <small>&mdash; {{ message[0] }}</small>
  </p></li>
  {% else %}
  <li><em>There's no message so far.</em></li>
  {% endfor %}
  {% endif %}
</ul>
{% endblock %}
