{% extends '/collection/hipaa/base.html' %}

{% block content %}
    <form role="form" method="post" action="">
      <h2 class="form-heading">Register.</h2>
      {% if error %}<div class="form-group error">{{ error }}</div>{% endif %}
      <div class="form-group">
        <label for="name" class="control-label">User ID</label>
        <div class="row">
          <div class="col-xs-4">
            <input type="text" class="form-control" name="id" id="id" value="{{ id }}" readonly>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="control-label">Username</label>
        <div class="row">
          <div class="col-xs-4">
            <input type="text" class="form-control" name="username" id="username" value="{{ username }}" readonly>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <div class="row">
          <div class="col-xs-4">
            <input type="email" class="form-control" name="email" id="email" value="{{ email }}" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="control-label">Name</label>
        <div class="row">
          <div class="col-xs-4">
            <input type="text" class="form-control" name="name" id="name" value="{{ name }}" required>
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit" value="Save" onClick="myApp.showPleaseWait();">Register</button>
    </form>
{% endblock %}
