{{ comment }}
	This page is the front page of the site, giving an overview of all patients
	and all covered entities the user knows about.
{{ endcomment }}
<html><body>
{% extends 'base.html' %}

{% block title %}
	Home
{% endblock %}

{% block top %}
	<h2>
		All data
	</h2>
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>Welcome {{ concretize(name) }}.</h1>
	</div>
	<ul class="col-md-6">
		<lh  class="list-group-item">
			<h3 class="list-group-item-heading">
				Patients
			</h3>
		</lh>
		{% for patient in concretize(patients) %}
			<li class="list-group-item">
				<a href="/patients/{{ patient.jeeves_id }}/">
					{{ concretize(patient.Name()) }}
				</a>
			</li>
		{% endfor %}

	</ul>
	<ul class="col-md-6">
		<lh  class="list-group-item">
			<h3 class="list-group-item-heading">
				Entities
			</h3>
		</lh>
		{% for entity in concretize(entities) %}
			<li class="list-group-item">
				<a href="entities/{{ entity.ein }}/">
					{{ entity.name }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
</body></html>
