﻿{{ comment }}
	This page is the popup when viewing an information set, either that an
	entity used in a transaction, or the entity gave to a business associate.
	All individuals referenced are linked to a page with their own information,
	as are all entities and business associates that are connected with an entity.
{{ endcomment }}
<div class="modal fade" id="myModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Information Set</h3>
            </div>
            <div class="modal-body">
                {% if data.Visits.count()>0 %}
                <h4>Hospital Visits:</h4>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>
                                Name {% include "invisible.html" %}
                            </td>
                            <td>
                                Date Admitted {% include "invisible.html" %}
                            </td>
                            <td>
                                Date Left {% include "invisible.html" %}
                            </td>
                            <td>
                                Location {% include "invisible.html" %}
                            </td>
                            <td>
                                Condition {% include "invisible.html" %}
                            </td>
                            <td>
                                Religious Affiliation {% include "invisible.html" %}
                            </td>
                        </tr>
                    </thead>
                    {% for t_indx in range(data.Visits.count()) %}
                        {% with transfer=data.Visits.all()[t_indx] %}
                        <tr>
                            <td>
                                <a href='{{ url("patient", concretize(transfer.Visit.patient.id)) }}'>
                                    {{ concretize(transfer.Visit.patient).Name() }}
                                </a>
                            </td>
                            <td>
                                {{ transfer.Visit.date_admitted }}
                            </td>
                            <td>
                                {{ transfer.Visit.date_released }}
                            </td>
                            <td>
                                {{ transfer.Visit.location }}
                            </td>
                            <td>
                                {{ transfer.Visit.condition }}
                            </td>
                            <td>
                                {{ concretize(transfer.Visit.patient).ReligiousAffiliation }}
                            </td>
                        </tr>
                        {% endwith %}
                    {% endfor %}
                </table>
                {% endif %}
                {% if data.Diagnoses.count()>0 %}
                <h4>Diagnoses:</h4>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>
                                Patient {% include "invisible.html" %}
                            </td>
                            <td>
                                Date {% include "invisible.html" %}
                            </td>
                            <td>
                                Code {% include "invisible.html" %}
                            </td>
                            <td>
                                Diagnosis {% include "invisible.html" %}
                            </td>
                            <td>
                                Recognized By {% include "invisible.html" %}
                            </td>
                        </tr>
                    </thead>
                    {% for t_indx in range(data.Diagnoses.count()) %}
                        {% with transfer=data.Diagnoses.all()[t_indx] %}
                        <tr>
                            <td>
                                <a href='{{ url("patient", concretize(transfer.Diagnosis.Patient.id)) }}'>
                                    {{ concretize(transfer.Diagnosis.Patient).Name() }}
                                </a>
                            </td>
                            <td>
                                {{ transfer.Diagnosis.DateRecognized }}
                            </td>
                            <td>
                                {{ transfer.Diagnosis.Manifestation }}
                            </td>
                            <td>
                                {{ transfer.Diagnosis.Diagnosis }}
                            </td>
                            <td>
                                <a href='{{ url("entity", transfer.Diagnosis.RecognizingEntity.ein) }}'>
                                    {{ transfer.Diagnosis.RecognizingEntity.name }}
                                </a>
                            </td>
                        </tr>
                        {% endwith %}
                    {% endfor %}
                </table>
                {% endif %}
                {% if data.Treatments.count()>0 %}
                <h4>Treatments:</h4>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>
                                Patient {% include "invisible.html" %}
                            </td>
                            <td>
                                Date {% include "invisible.html" %}
                            </td>
                            <td>
                                Code {% include "invisible.html" %}
                            </td>
                            <td>
                                Prescribed By {% include "invisible.html" %}
                            </td>
                            <td>
                                Performed/Provided By {% include "invisible.html" %}
                            </td>
                        </tr>
                    </thead>
                    {% for t_indx in range(data.Treatments.count()) %}
                    {% with transfer=data.Treatments.all()[t_indx] %}
                    <tr>
                        <td>
                            <a href='{{ url("patient", concretize(transfer.Treatment.patient)) }}'>
                                {{ concretize(transfer.Treatment.patient) }}
                            </a>
                        </td>
                        <td>
                            {{ transfer.Treatment.date_performed }}
                        </td>
                        <td>
                            {{ transfer.Treatment.service }}
                        </td>
                        <td>
                            <a href='{{ url("entity", concretize(transfer.Treatment.prescribing_entity.ein)) }}'>
                                {{ concretize(transfer.Treatment.prescribing_entity.name) }}
                            </a>
                        </td>
                        <td>
                            <a href='{{ url("entity", concretize(transfer.Treatment.prescribing_entity.ein)) }}'>
                                {{ concretize(transfer.Treatment.prescribing_entity.name) }}
                            </a>
                        </td>
                    </tr>
                    {% endwith %}
                    {% endfor %}
                </table>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
