{% extends 'base.html' %}

{% block content %}
    <h2>User</h2>
    <form method="post" action="" role="form">
        {% csrf_token %}
        <table class="table">
            <tr>
                <th> Name </th>
                <th> Affiliation </th>
                <th> E-mail </th>
                <th> Type </th>
            {% for profile in concretize(user_profiles) %}
                <tr>
                    <td>
                        {{concretize(profile.name)}}
                    </td>
                    <td>
                        {{concretize(profile.affiliation)}}
                    </td>
                    <td>
                        {{concretize(profile.email)}}
                    </td>
                    <td>
                      <div class="radio">
                        <input type="radio" name="level-{{concretize(profile.username)}}" value="individual"
                                {% if concretize(profile.level) == 'individual' %} checked {% endif %} />
                        Individual <br />
                        <input type="radio" name="level-{{concretize(profile.username)}}" value="coveredEntity"
                                {% if concretize(profile.level) == 'coveredEntity' %} checked {% endif %} />
                        Covered Entity <br />
                        <input type="radio" name="level-{{concretize(profile.username)}}" value="businessAssociate"
                                {% if concretize(profile.level) == 'businessAssociate' %} checked {% endif %} />
                        Business Associate <br />
			<input type="radio" name="level-{{concretize(profile.username)}}" value="government"
                                {% if concretize(profile.level) == 'government' %} checked {% endif %} />
                        Government <br />
			<input type="radio" name="level-{{concretize(profile.username)}}" value="research"
                                {% if concretize(profile.level) == 'research' %} checked {% endif %} />
                        Research <br />
			<input type="radio" name="level-{{concretize(profile.username)}}" value="clergy"
                                {% if concretize(profile.level) == 'clergy' %} checked {% endif %} />
                        Clergy <br />
                      </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary" value="Save">Save</button>
    </form>
{% endblock %}
