{{ comment }}
	This page is the diagnoses a patient has received from any covered entity.
{{ endcomment }}
<html><body>
{% extends "/collection/hipaa/base.html" %}

{% block title %}
	Diagnoses
{% endblock %}

{% block top %}
	<h2>Doctors' diagnoses about an individual.</h2>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="page-header">
			<h2>
				{{ first_name }} {{ last_name }}
			</h2>
		</div>
		<ul class="nav nav-tabs">
			<li><a href=".">Information</a></li>
			<li><a href="treatments">Treatments, Drugs, &amp; Services</a></li>
			<li class="active"><a href="diagnoses">Diagnoses</a></li>
		</ul>
	
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<td>
						Date 
					</td>
					<td>
						Code 
					</td>
					<td>
						Diagnosis 
					</td>
					<td>
						Recognized By 
					</td>
				</tr>
			</thead>
			{% for diagnosis in diagnoses %}
					<tr>
						<td>
							{{ diagnosis.DateRecognized }}
						</td>
						<td>
							{{ diagnosis.Manifestation }}
						</td>
						<td>
							{{ diagnosis.Diagnosis }}
						</td>
						<td>
							<a href='/entity/{{diagnosis.RecognizingEntity.id}}'>
								{{ diagnosis.RecognizingEntity.Name }}
							</a>
						</td>
					</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
</body></html>




