<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if which_page=="home" or (not which_page) %}class="active"{% endif %} onClick="myApp.showPleaseWait();"><a href="/6/">Home</a></li>
        {% if is_logged_in %}
        <li {% if which_page=="profile" %}class="active"{% endif %}><a href="/6/accounts/profile" onClick="myApp.showPleaseWait();">Profile</a></li>
        <li {% if which_page=="users" %}class="active"{% endif %}><a href="/6/users" onClick="myApp.showPleaseWait();">Users</a></li>
        <li {% if which_page=="about" %}class="active"{% endif %}><a href="/6/about" onClick="myApp.showPleaseWait();">About</a></li>
        {% endif %}
        {% if is_logged_in %}
          <li><a href="/6/accounts/logout">Log Out</a></li>
        {% else %}
          <li {% if which_page=="register" %}class="active"{% endif %}><a href="/6/accounts/register">Register</a></li>
        {% endif %}
     </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
