﻿{{ comment }}
	This page is a list of all patients who reside in the covered entity's 
	residence. The search box allows searching throughout all viewable members
	of the directory, as well as people who you have searched for in this session.
{{ endcomment }}
{% extends "/collection/hipaa/base.html" %}

{% block title %}
	Hospital directory
{% endblock %}

{% block top %}
	<h2>
		Directory of current patients.
	</h2>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="page-header">
			<h2>
				{{ entity.name }}
			</h2>
		</div>
		<ul class="nav nav-tabs" data-tabs="tabs">
			<li class="active">
				<a href=".">
					Directory
				</a>
			</li>
			<li>
				<a href="transactions">
					Transactions
				</a>
			</li>
			<li>
				<a href="associates">
					Business Associates
				</a>
			</li>
		</ul>
		<br>
		<input type="text" class="form-control" placeholder="Search">
		<table class="table table-striped table-hover">
			<thead>
				<th>
					Name
				</th>
				<th>
					Date Admitted
				</th>
				<th>
					Location
				</th>
				<th>
					Condition
				</th>
				<th>
					Religious Affiliation
				</th>
			</thead>
			{% for visit in visits %}
				<tr>
					<td>
						<a href='/patients/{{visit.patient.id}}'>
							{{ visit.patient.Name }}
						</a>
					</td>
					<td>
						{{ visit.date_admitted }}
					</td>
					<td>
						{{ visit.location }}
					</td>
					<td>
						{{ visit.condition }}
					</td>
					<td>
						{{ visit.patient.ReligiousAffiliation }}
					</td>

				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
