{% extends 'collection/hipaa/base.html' %}

{% block content %}
<script type="text/javascript">
  function setLevel(level, userId) {
      const xhttp = new XMLHttpRequest();
      xhttp.open('GET', '/6/set_level/' + level.toString() + '/' + userId.toString());
      xhttp.onreadystatechange = function() {
	  window.location.href = "/6/users";	  
      }
      xhttp.send();
  }
</script>

    <h2>User</h2>
    <form method="post" action="" role="form">
        <table class="table">
            <tr>
                <th> Name </th>
                <th> E-mail </th>
                <th> Type </th>
            {% for profile in user_profiles %}
                <tr>
                    <td>
                        {{profile[6]}}
                    </td>
                    <td>
                        {{profile[4]}}
                    </td>
                    <td>
                      <div class="radio">
                        <input type="radio" onclick="setLevel(1, {{ profile[1] }})" 
                                {% if profile[5] == 1 %} checked {% endif %} />
                        Individual <br />
                        <input type="radio" onclick="setLevel(2, {{ profile[1] }})" 
                                {% if profile[5] == 2 %} checked {% endif %} />
                        Covered Entity <br />
                        <input type="radio" onclick="setLevel(3, {{ profile[1] }})" 
                                {% if profile[5] == 3 %} checked {% endif %} />
                        Business Associate <br />
			<input type="radio" onclick="setLevel(4, {{ profile[1] }})" 
                                {% if profile[5] == 4 %} checked {% endif %} />
                        Government <br />
			<input type="radio" onclick="setLevel(5, {{ profile[1] }})" 
                                {% if profile[5] == 5 %} checked {% endif %} />
                        Research <br />
			<input type="radio" onclick="setLevel(6, {{ profile[1] }})" 
                                {% if profile[5] == 6 %} checked {% endif %} />
                        Clergy <br />
                      </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary" value="Save">Save</button>
    </form>
{% endblock %}
