<div id="footer">
    <div class="container">
        <p class="text-muted">&copy; 2014 by Travis Hance, Jean Yang, and Ariel Jacobs. Powered by <a href="http://jeeveslang.org" target="blank">Jeeves</a>/<a href="https://www.djangoproject.com/" target="blank">Django</a> and the <a href="http://z3.codeplex.com/" target="blank">Z3 SMT solver</a> on <a href="http://aws.amazon.com/ec2/" target="blank">Amazon EC2</a>.<br>
        <p class="text-muted">&copy; 2023 by Anonymous Author(s). Powered by <a href=https://flask.palletsprojects.com/" target="blank">Flask</a>.<br>
    </div>
</div>
