{{ comment }}
	This page has all the treatments an individual has received.
{{ endcomment }}
<html><body>
{% extends "base.html" %}

{% block title %}
	Treatment, Drugs, &amp; Services
{% endblock %}

{% block top %}
	<h2>Treatments provided to patient.</h2>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="page-header">
			<h2>
				{{ first_name }} {{ last_name }}
			</h2>
		</div>
		<ul class="nav nav-tabs">
			<li><a href=".">Information</a></li>
			<li class="active"><a href="treatments">Treatments, Drugs, &amp; Services</a></li>
			<li><a href="diagnoses">Diagnoses</a></li>
		</ul>
	
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<td>
						Date 
					</td>
					<td>
						Code 
					</td>
					<td>
						Prescribed By 
					</td>
					<td>
						Performed/Provided By 
					</td>
				</tr>
			</thead>
			{% for treatment in treatments %}
					<tr>
						<td>
							{{ treatment.date_performed }}
						</td>
						<td>
							{{ treatment.service }}
						</td>
						<td>
							<a href='/entity/{{treatment.prescribing_entity.id}}'>
								{{ treatment.prescribing_entity.Name }}
							</a>
						</td>
						<td>
							<a href='/entity/{{treatment.performing_entity.id}}'>
								{{ treatment.performing_entity.Name }}
							</a>
						</td>
					</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
</body></html>
